<div class="modal auth__container modal-auth">
    <div class="modal__wrapper auth__wrapper">
        <div class="modal__body auth__body">
            <div class="auth__block modal-block">
                <div class="modal-block__top">
                    <div class="modal-block__title">Вход</div>
                    <div class="modal-block__close">
                        <div class="modal-block__cross"><span></span><span></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>