
<header class="header">
    <div class="header__container container">
        <div class="header__wrapper">
            <div class="header__main">
                <div class="header__logotip">
                    <a href="/"><img src="/img/header/logotip.svg" alt="logo"></a>
                </div>
                <div class="header__langs">
<!--                    <a href="">în română</a>-->
                    <a href="">на русском</a>
                </div>
            </div>
            <div class="header__other">
                <div class="header__notebook"><a class="header__link" href="#">Блокнот</a> </div>
                <div class="header__signin"><a class="header__link" href="">Войти</a></div>
                <div class="header__register"><a class="header__link" href="">Регистрация</a></div>
            </div>
        </div>
    </div>
</header>
<div class="auth">
    <div class="modal auth__container">
        <div class="modal__wrapper auth__wrapper">
            <div class="modal__body auth__body">
                <div class="modal__block auth__block modal-block">
                    <div class="modal-block__top">
                        <div class="modal-block__title">Регистрация</div>
                        <div class="modal-block__close">
                            <div class="modal-block__cross"><span></span><span></span></div>
                        </div>
                    </div>

                    <div class="method">
                        <div class="method__phone">Номер</div>
                        <div class="method__slider slider-method">
                            <div class="slider-method__line">
                                <div class="slider-method__circle"></div>
                            </div>
                        </div>
                        <div class="method__email">Email</div>
                    </div>
                    <form class="modal-form" action="forms" method="POST" enctype="multipart/form-data" >
                        <input type="hidden" name="register" value="true">
                        <div class="modal-form__block modal-form__phone">
                            <input class="modal-form__input modal-form__phone" placeholder="phone" type="input" name="phone" autocomplete="phone">
                        </div>
                        <div class="modal-form__block modal-form__email">
                            <input class="modal-form__input modal-form__mail" placeholder="email" type="input" name="email" autocomplete="email">
                        </div>

                            <button class="modal-form__submit" type="submit">Вперед</button>
                    </form>

                    <div class="modal__block__init init-modal">
                        <div class="init-modal__question">уже есть аккаунт ?</div>
                        <div class="init-modal__auth">ВОЙТИ</div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


