
<header class="header">
    <div class="header__container container">
        <div class="header__wrapper">
            <div class="header__main">
                <div class="header__logotip">
                    <a href="/"><img src="/img/header/logotip.svg" alt="logo"></a>
                </div>
                <div class="header__langs">
<!--                    <a href="">în română</a>-->
                    <a href="">на русском</a>
                </div>
            </div>
            <div class="header__other">
                <div class="header__notebook"><a class="header__link" href="#">Блокнот</a> </div>
                <div class="header__signin"><a class="header__link" href="">Войти</a></div>
                <div class="header__register"><a class="header__link" href="">Регистрация</a></div>
            </div>
        </div>
    </div>
</header>
<div class="auth"></div>


